/*.App {
  text-align: center;
  background-color: #f3f2ef;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

/*Footer*/

.App {
  background-color: #f3f2ef;
}

.body {
  display: flex;
  justify-content: center;

}

.feed-inputContainer {
  background-color: white;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.feed-input {
  border: 1px solid lightgray;
  border-radius: 30px;
  display: flex;
  padding: 10px;
  color: gray;
  padding-left: 15px;
}

/*Footer*/



.footerRow {
  display: flex;
  flex-wrap: nowrap;
  max-width: 50%;
  justify-content: inherit !important;
}


#footer img {
  width: 60px;
}

#footer a,
#footer p,
#footer .form-label,
#footer .form-control {
  color: #868686;
  text-transform: capitalize;
  font-size: 0.7rem;
}

#footer a:hover {
  text-decoration: underline;
  color: #0a66c2;
}

#footer-settings a {
  font-weight: bold;
}

#footer .col-lg-3 {
  max-width: 100%;
}

#footer i {
  color: #666666;
}

/* #footer form {
  width: 220px;
} */
.postBtnHover:hover {
  background-color: #EBEBEB !important;
}

.startPostBtnHover:hover {
  background-color: #EBEBEB !important;
}

.closeButton:hover {
  background-color: #EBEBEB !important;
  transition: 0.2s,
}

.disabled {
  background-color: #EBEBEB !important;
  color: darkgrey !important;
}

.styleForm {
  display: flex;
  margin-left: 20px;

  padding-right: 10px;

}

.styleForm>p {
  color: #666666;
  margin: 6px;
  height: 30px;
  width: 30px;
  font-size: 1.2em;
  ;

  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;

}


.styleForm>p:hover {
  background-color: #EBEBEB;

}

/*Footer home section*/

.footerHome {

  display: flex;

  justify-content: center;
  max-width: 65%;
}



/*button network*/

.buttonMyNetwork:hover {

  background-color: #E2F0FE !important;
  border: 3px solid #0A66C2 !important;

}

.buttonMyNetworkGrey:hover {

  background-color: #EBEBEB !important;
  border: 3px solid #666666 !important;


}

.hoverButtonDisp:hover {
  background-color: #004182 !important;
}

.hoverNetwork:hover {

  background-color: #EBEBEB !important;
  border-radius: 5px;
}

.hMarginNetwork {
  margin-bottom: 1.5rem;
}

.centrami {
  display: flex !important;
  justify-content: center !important;
  flex-wrap: wrap !important;
}

.row {
  display: flex;
  justify-content: center;
}

.ciccio {
  display: flex;
  justify-content: flex-start;
}

.titleInterest {
  justify-content: inherit !important;
}

.uneditable-input:focus {
  border-color: none;
  box-shadow: none;
  outline: 0 none;
}

.hoverNotizie:hover {
  background-color: #ebebeb;
  border-radius: 5px;

}

.imegeFix {
  justify-content: inherit !important;
}